<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h2>New Chat Page</h2>
    <form action="/chats" method="post">
        <input type="text" name="from" id="from" placeholder="who is sending msg"><br><br>
        <textarea name="message" cols="30" rows="10" placeholder= "Your Message here."></textarea><br><br>
        <input type="text" name="to" id="from" placeholder="receiver name"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>